# Node modules
node_modules/

# Vite and build
/dist
/vite.config.js

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# npm / yarn
package-lock.json
yarn.lock